<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Emergency Compliment</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
    body {
      background-color: <%= @color %>;
    }
    </style>
  </head>
  <body>
    <h1>Emergency WDI Compliment</h1>
    <%= yield %>
  </body>
</html>
