<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>This is my safe place <%=req.params.id %></h1>
  </body>
</html>
