<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RESTful App</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include ./partials/__header %>
    <main>
      <%- body %>
    </main>
    <%- include ./partials/__footer %>
  </body>
</html>
