<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RNDM CMPLMNT</title>
  </head>
  <body>
    <header>
      <nav>
        <h3 class="brand">RNDM CMPLMNT</h3>
        <ul class="links">
          <li>about</li>
          <li>store</li>
          <li>twitter</li>
          <li>insta</li>
          <li>tumblr</li>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
