<section class="container">
  <h1>Add Movie</h1>
  <form action="/movies" method="post">
    <div class="form-group">
      <label for="movie_title">Title</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Title" name="movie[title]">
    </div>
    <div class="form-group">
      <label for="movie_description">Decription</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Decription" name="movie[description]">
    </div>
    <button type="submit" class="btn btn-default">Create</button>
  </form>
</section>
